html{
    font-size: 10px;
    background:url("bg_img.jpg") no-repeat bottom;
    background-size:cover;
    height:100vh;
}
.header{
    margin:3rem 0 0 4rem;
    color:#fff;
    font-size: 4rem;
    font-weight: bold;
    text-shadow:0.2rem 0.2rem 0.5rem #ff0088;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    height: 85vh;
    
}
 .keys{
     flex:auto;
     display: flex;
     flex-flow: row wrap;
     justify-content:space-evenly;
 }
 .key{
     flex:none; /* flex: 0 0 auto  */
     text-align: center;
     border:0.5rem solid black;
     height: 8.5rem;
     width:10rem;
     margin: 1rem;
     background: rgba(255, 255, 255,0.8);
     transition: all .12s ease;      
 }
 .key>kbd{
     display: inherit;
     font-size: 3.5rem;
     font-weight: bold;
     color: #ff0088;
     padding:1rem 0;
 }
.sound{
    color:orangered;
    font-size:1.2rem;
    text-transform: uppercase;
}
.playing{
    transform: scale(1.5);
    border-color:#ff0088;
    box-shadow: 1.5rem 1.5rem 2rem #ff0088;
}
 
@media screen and (max-width:765px){
    html{
        font-size: 7px;
    }
    .header{
        text-align: center;
        font-size: 4rem;
    }
}