body {
    margin: 0;
}

.panels {
    display: flex;
    flex-flow: row wrap;
    color: #fff;
}

.panel1 {
    background-image: url('https://images.pexels.com/photos/1427879/pexels-photo-1427879.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #818d92;
}

.panel2 {
    background-image: url('https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #a08794;
}

.panel3 {
    background-image: url('https://images.pexels.com/photos/654/clouds-cloudy-agriculture-farm.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #bb7e8c;
}

.panel4 {
    background-image: url('https://images.pexels.com/photos/415708/pexels-photo-415708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #c9b6be;
}

.panel5 {
    background-image: url('https://images.pexels.com/photos/906024/pexels-photo-906024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #fbacbe;
}

.panel {
    flex: 1;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px violet;
    transition: ease;
    display: flex;
    align-items: flex-end;
}

p {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    display: none;
}

.panel:hover {
    flex: 5;
}

.panel:hover p {
    display: block;
    background-color: rgba(172, 6, 34, 0.7);
    padding: 30px 10px;
    margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
    p {
        font-size: 20px;
    }
}