:root {
    --bg-color: #89bbfe;
    --text-color: #2c2c54;
    --base: #a40e4c;
    --spacing: 10px;
    --blur: 0px;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-left: 20px;
}

.highlight-color {
    color: var(--base);
}

.controls {
    text-align: center;
    padding-bottom: 30px;
    font-size: 2rem;
}

label {
    color: #040f0f;
    margin: 2rem;
}

#blur-range,
#space-range {
    width: 10rem;
}

img {
    height: 480px;
    filter: blur(var(--blur));
    padding: var(--spacing);
    background-color: var(--base);
    display: block;
    margin: auto;
}